<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <distributable/>

    <context-param>
        <param-name>neo4j:allow_store_upgrade</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- default:
    <context-param>
        <param-name>neo4j-storage-dir</param-name>
        <param-value>${context}WEB-INF/db/neo4j</param-value>
    </context-param>
    -->

    <listener>
        <listener-class>org.neo4j.servlet.Neo4JContextListener</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>CypherServlet</servlet-name>
        <servlet-class>org.neo4j.servlet.rest.CypherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CypherServlet</servlet-name>
        <url-pattern>/cypher</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
